:root {
    --banner-color: #FCD5CE;
    --font-color: #121212;
    --secondary-color: #DE765B;
    --tertiary-color: #457B9D;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    margin: auto;  
}

#banner {
    background-color: var(--banner-color);
    color: var(--font-color);
    padding: 5em;
    padding-left: 15em;
    padding-right: 20em;
    
}

.email{
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    width: 1000px;
    letter-spacing: 0.5px;
    border-radius: 8px;
    padding: 0;
    padding: 0.5em;
    margin: 0.75em;
    color: var(--font);
}

.email:hover {
    text-decoration: none;
    background-color: #F6C8BB;
}

.headshot {
    width: 300px;
    clip-path: circle();
    right: 100px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color:#8D7F81;
}

h3 {

    color: var(--tertiary-color);

}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills > h3 {
    margin: 0;
    padding: 0;
}

.skills > div > ul{
    list-style-type: none;
}
.skills-li{
    background-color: var(--secondary-color);
    border-radius: 1000px;
    padding: 0.2em;
    margin: 0.25em;
    text-align: center;
}

