:root {
    --banner-color: #ffffff;
    --font-color: #121212;
    --secondary-color: #DE765B;
    --tertiary-color: #457B9D;
}

body {
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 3em;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.banner-channels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: row;
    padding-bottom: 10em;
    padding-top: 10em;
}

.headshot {
    width: 300px;
    height: 300px;
}

.about-me {
    padding-left: 5em;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    overflow: hidden;
    max-width: 24rem;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}